*{
    margin: 0;
    padding: 0;
}

:root{
    --cor-de-fundo:#051D3B;
    --cor-da-var-entrada: #FFFFFF29;
    --cor-do-texto: #FFFFFF;
    --cor-do-icone-menu-lateral:#5081FB;
    --cor-botao-highligth:#5081FB14;
    --cor-espaco-do-codigo:#141414;



}

body{
    background: var(--cor-de-fundo);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cor-do-texto);
}

/* Header*/
.cabeçalho-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.cabeçalho-menu .logo-alura{
    width: 145px;
}

.cabeçalho-menu .barra-de-pesquisa{
    color: gray;
    background: var(--cor-da-var-entrada);
    border: none;
    border-radius: 8px;
    width: 752px;
    height: 56px;
    padding-left: 10px;
}

.cabeçalho-menu .usuario{
    display: flex;
    align-items: center;
}

.cabeçalho-menu .foto-usuario{
    border-radius: 50px;
    Width: 32px;
    Height: 32px;
}

.cabeçalho-menu .nome-usuario{
    color: var(--cor-do-texto);
    padding-left: 8px;
    text-decoration: none;
}

/*Main - Laterais da página*/

.corpo-da-pagina{
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    margin-top: 15px;
    font-family: Inter;
}

.corpo-da-pagina li{
    padding: 10px;
    display: table;
}

.corpo-da-pagina .menu-lateral .barra-menu-lateral li a{
    color: var(--cor-do-texto);
    text-decoration: none;
    opacity: 0.56;
}

.corpo-da-pagina .menu-lateral .barra-menu-lateral li .titulo-menu-lateral{
    font-size: 12px;
    letter-spacing: 0.4em;
    text-transform: uppercase;
}

.corpo-da-pagina .menu-lateral .barra-menu-lateral li a .fas{
   padding: 14px;
   margin-right: 10px;
   border-radius: 16px;
   background: #5081FB29;
}

.corpo-da-pagina .corpo-do-projeto .estrutura-do-projeto li a{
    font-size: 12px;
    letter-spacing: 0.4em;
    text-transform: uppercase;
}

.corpo-da-pagina .corpo-do-projeto .estrutura-do-projeto li .barra-nome-projeto{
    width: 272px;
    height: 56px;
    border: none;
    border-radius: 8px;
    background: var(--cor-da-var-entrada);
    padding-left: 10px;
}

.corpo-da-pagina .corpo-do-projeto .estrutura-do-projeto li .barra-descricao-projeto{
    width: 272px;
    height: 80px;
    border: none;
    border-radius: 8px;
    background: var(--cor-da-var-entrada);
    padding-left: 10px;
    margin-bottom: 20px;
}

.corpo-da-pagina .corpo-do-projeto .estrutura-da-selecao-linguagem li a{
    font-size: 12px;
    letter-spacing: 0.4em;
    text-transform: uppercase;
}

.corpo-da-pagina .corpo-do-projeto .estrutura-da-selecao-linguagem #linguagem-de-programacao{
    width: 272px;
    height: 56px;
    color: gray;
    border-radius: 8px;
    background: var(--cor-da-var-entrada);
    padding-left: 10px;
}

.corpo-da-pagina .corpo-do-projeto .estrutura-da-selecao-linguagem #selecao-color-picker{
    width: 272px;
    height: 56px;
    border: 1px solid var(--cor-do-texto);
    box-sizing: border-box;
    border-radius: 8px;
    background: var(--cor-de-fundo);
    padding: 2.5px;
}

.corpo-da-pagina .corpo-do-projeto .estrutura-da-selecao-linguagem .botao-salvar-projeto{
    border: none;
    width: 272px;
    height: 56px;
    background: var(--cor-do-icone-menu-lateral);
    border-radius: 8px;
}

/*Main - Centro da página*/
.corpo-da-pagina .centro-da-pagina .espaco-do-highligth{
    background: #6BD1FF;
    padding: 35px;
    border-radius: 8px;
}

.corpo-da-pagina .centro-da-pagina .espaco-do-codigo{
    background: var(--cor-espaco-do-codigo);
    width: 688px;
    height: 302px;
    border-radius: 8px;
}

.corpo-da-pagina .centro-da-pagina .espaco-do-codigo .botao-superior{
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 8px;
    margin: 15px 0px;
}

.corpo-da-pagina .centro-da-pagina .espaco-do-codigo .botao-superior.botao-vermelho{
    background: #FF5F56;
    margin-left: 5px;
}

.corpo-da-pagina .centro-da-pagina .espaco-do-codigo .botao-superior.botao-amarelo{
    background: #FFBD2E;
}

.corpo-da-pagina .centro-da-pagina .espaco-do-codigo .botao-superior.botao-verde{
    background: #27C93F;

}

.corpo-da-pagina .centro-da-pagina .espaco-do-codigo .codigo-input{
    width: 656px;
    height: 234px;
    font-size: 14px;
    line-height: 18px;
    white-space: pre-wrap;
    margin: 13px 10px;
    background: var(--cor-espaco-do-codigo);
    color: var(--cor-do-texto);
    border: none;
    resize: none;
}

.corpo-da-pagina .centro-da-pagina .botao-highligth{
    border: none;
    width: 680px;
    height: 55px;
    border-radius: 8px;
    margin-top: 20px;
    margin-left: 35px;
    background: var(--cor-botao-highligth);
    color: var(--cor-do-texto);
    font-family: Inter;
}